<footer>

  <div class="redes-sociales">

    <a href="https://facebook.com">
      <img class="logo-footer" src="/canazo/themes/tema_canazo/canazo/images/facebook.svg" />
    </a>

    <a href="https://instagram.com">
      <img class="logo-footer" src="/canazo/themes/tema_canazo/canazo/images/instagram.svg" />
    </a>

  </div>

  <div class="copyright">
    © Universidad de Costa Rica
  </div>
</footer>