<div class="wrapper-canazo">

  {% include directory ~ '/partials/header.html.twig' %}

  <div class="layout-container">

    <main role="main">


      <div>
        {{ page.content }}
      </div>{# /.layout-content #}

    </main>


  </div>{# /.layout-container #}

  {% include directory ~ '/partials/footer.html.twig' %}

</div>
