$navbar_height: 82px;
$element_height: 20px;

.navbar {
    padding: 0 !important;
    margin-bottom:2rem;
    background: $azul_ucr;
}
  
.header-primario {
    background: $azul_ucr;
    @include container(1400px);
    padding-left: 15px !important;
}

.header-secundario
{
    background: $azul_ucr;
    padding-left: $padding !important;
    padding-right: $padding !important;
}

.elemento-header-primario {
    height: $element_height;
    padding: (($navbar_height - $element_height) / 2 - 1) 10px (($navbar_height - $element_height) / 2 + 1) !important;
    line-height: 28px;
}

.logo-header {
    width: 100%;
}

.busqueda-header {
    margin-left: auto;
    border: none; outline: none;
}

.logo-canazo {
    font-size: 36px;
}

/*Celular*/
@media only screen and (max-width: 768px) {
    .busqueda-header {
        margin-left: 0;
    }

    .header-primario {
        background: $azul_ucr;
        padding-left: $padding / 2 !important;
        padding-right: $padding / 2 !important;
    }
    
    .header-secundario
    {
        background: $azul_ucr;
        padding-left: $padding / 2 !important;
        padding-right: $padding / 2 !important;
    }

    .elemento-header-primario {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        height: 50px;
    }

    .logo-canazo {
        padding-top: 8px;
    }
}

.barra-navegacion
{
    @include span(12 last);
    @include container(1400px);
    padding-left: 0 !important;
    padding-right: 0 !important;

    padding-bottom: 10px;

    li {
        float: left;
        margin-bottom: 10px;
    }

    a {
        color: white !important;
        display: block;
        text-decoration: none;
        padding: 0 10px;
        font-size: 20px;

        &:hover {
            text-decoration: underline;
        }
    }



    /*Celular*/
    @media only screen and (max-width: 768px) {
        li {
            float: initial;
            padding-left: 4px;
        }
    }
}