body{
    box-sizing: border-box;
}

main{
    /*aqui habia un margin.*/
}
.navbar {
  margin: 0;
}

.layout-container{/*Esto lo añadi para quitar el margen del menu y el contenido*/
  width: 75%;
}

.layout-sidebar-first{
    @include span(2);
}

.layout-sidebar-second{
    @include span(2 last);
}
body{
 box-sizing: border-box;
  }

/* Float four columns side by side */
.column {
  display: flexbox;
  width: 30%;
}

/* Remove extra left and right margins, due to padding */
.row {
    display: flexbox;
    justify-content: space-evenly;
}

/* Clear floats after the columns */

  
  /* Responsive columns */
@media screen and (max-width: 800px) {
    .column {
      width: 100%;
      flex-direction: column;
      margin-bottom: 20px;
    }
    
    .row {
      margin-left: 8px;
      margin-right: 8px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.main-img{
  margin-bottom: 7em;
  width: 50vw;
  height: 50vh;
}
.descripcion-linea{
  margin: 1em; 
}


.views-view-grid{
  display: flex;
  flex-direction: column;
}

.fila-noticia{
  display: flex;
  justify-content: space-around;
}
.imagen-header{
  width: 100vw;
  margin-left: calc(-52vw + 52%);
}

.views-element-container > h2{
  display: flex;
  justify-content: center;
  background: $azul_ucr;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  color: white;
}