/* Vendor */
@import "susy";
@import "su";

/* Setup */
@import "reset";
@import "mixins";
@import "variables";
@import "fonts";
@import "globals";

/* WP parts */
@import "header";
@import "homepage";
@import "sidebar";
@import "footer";

/*La chanchada del siglo pero funcionó T-T*/
.columna-noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vista-citas .views-view-grid {
  flex-direction: initial !important;
}

.columna-cita {
  flex: initial !important;
  max-width: initial !important;
}