/* Vendor */
@import "susy";
@import "su";

/* Setup */
@import "reset";
@import "mixins";
@import "variables";
@import "fonts";
@import "globals";

/* WP parts */
@import "header";
@import "homepage";
@import "sidebar";
@import "footer";

/*La chanchada del siglo pero funcionó T-T*/
.columna-noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vista-citas .views-view-grid {
  flex-direction: initial !important;
}

.columna-cita {
  flex: initial !important;
  max-width: initial !important;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 60px !important;
  text-align: center;
  text-decoration: none !important;
  margin-bottom: 2em;

}

.vista-citas .views-row.clearfix {
  width: 100%;
  margin-top: 3em;
  margin-right: 1.5em;
}

.vista-citas .views-field-title {
  font-size: 24px;
}

.vista-citas .views-field-field-autor-del-relato {
  font-size: 18px;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .vista-citas .views-row.clearfix {
    width: 100%;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .vista-citas .views-field-title {
    font-size: 20px;
  }

  .vista-citas .views-field-field-autor-del-relato {
    font-size: 16px;
    font-style: italic;
  }

  .columna-cita {
    padding: 40px !important;
  }
}

.audio-relato {
  outline: none;
  margin-bottom: 2em;
}

.lista-youtube {
  text-align: center;
  margin-top: 2.5em;
}

.video-youtube .youtube-field-player {
  width: 700px;
  height: 400px;
  margin-bottom: 2em;
}

@media only screen and (max-width: 600px) {
  .video-youtube .youtube-field-player {
    width: 300px;
    height: 200px;
    margin-bottom: 2em;
  }
}

.paginador {
  text-align: center;
  margin-bottom: 2em;
}

.pagina-paginador {
  font-size: 28px;
  font-weight: bold;
  color: $amarillo_ucr;
}

.paginador a {
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.fila-foto img {
  margin-top: 2em;
  width: 40%;
  height:auto;
}