{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 * @see stable_preprocess_image_widget()
 */
#}




{# Solo hacer esto cuando es un audio #}
{% if link['#url'].uri ends with '.mp3' or link['#url'].uri ends with '.aac' or link['#url'].uri ends with '.wav' %}
    <audio controls="controls" class="audio-relato">
        <source src={{link['#url'].uri}} type="audio/mpeg">
    </audio>
{% else %}
    <span{{ attributes }}>
        {{link}}
    </span>
{% endif %}
